@import "../../styles/globals.scss";

.footer {
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
    background: rgba(0, 0, 0, .16);
    color: #fff;

    padding: 10px 0;

    display: flex;
    justify-content: center;
}